div, h1, p, a {
	font-family: calibri;
}
p, a {
	font-size: 1.2em;
	
}
a:hover {
    color: gray;
}
a {
	text-decoration: none;
	color: black;
}
span {
	color: #FF9900
}
body {
	margin: 0;
}

.nav-wrapper {
	position: fixed;
	width: 100%;
	height: 66px;
	margin-left: -7px;
	padding-right: 14px;
	top: 0;
	background-color: #ffffff;
	z-index: 3;
	box-shadow: 0 5px 5px -5px #333;
	/*border-bottom: 1px solid black*/
}

.name {
	float: left;
	font-size: 2.1em;
	padding-top: 17px;
	padding-left: 23px;
	display: inline-block;
}
.content {
  width: 1250px;
  margin: 0 auto;
  padding-top: 16px;
 }

.nav-bar {
	list-style-type: none;
	margin-bottom: 5px;
	float: right;
	padding-left: 0px;	
}

.nav-bar li {
	display: inline-block;
	margin-right: 66px;
	color: #000099;
}

.about {
	width: 95%;
	margin: 93px auto 100px 37px;
}
.work {
	width: 95%;
	margin-left: 37px;
	margin-bottom: 150px;
}
.tamooz-line li{
	display: inline-block;
}
#hagaibonator {
	background: url("../Images/IMAG0356.jpg");
	height: 290px;
	width: 400px;
	background-size: cover;
	background-position: center;
	z-index: -2;
	float: left;
}
#pou {
	background: url("../Images/IMAG0531.jpg");
	height: 290px;
	width: 400px;
	background-size: cover;
	background-position: center;
	z-index: -2;
	float: left;
}
#motor {
	background: url("../Images/IMAG0736.jpg");
	height: 290px;
	width: 400px;
	background-size: cover;
	background-position: center;
	z-index: -2;
	float: left;
}
#ultimate{
	background: url("../Images/IMAG0778.jpg") 0px -132px;
	height: 290px;
	width: 400px;
	background-size: cover;
	z-index: -2;
	float: left;
}
.hp-line li{
	display: inline-block;

}
#bid-rail{
	background: url("../Images/BID rail.jpg");
	height: 290px;
	width: 400px;
	background-size: cover;
	z-index: -2;
	float: left;

}
#stress_A {
	background: url("../Images/stress_A.gif");
	height: 290px;
	width: 400px;
	background-size: cover;
	z-index: -2;
	float: left;


}
#robot {
	background: url("../Images/040220101060.jpg");
	height: 290px;
	width: 400px;
	background-size: cover;
	background-position: center;
	z-index: -2;
	float: left;
}
#waste {
	
	background: url("../Images/et1140187_iso.jpg");
	height: 290px;
	width: 400px;
	background-size: cover;
	z-index: -2;
	float: left;
}
.taga-line li{
	display: inline-block;
}
#mold {
	
	background: url("../Images/IMG_6937.JPG");
	height: 290px;
	width: 400px;
	background-size: cover;
	z-index: -2;
	float: left;
}
#assembly {
	
	background: url("../Images/IMG_8608.JPG");
	height: 290px;
	width: 400px;
	background-size: cover;
	z-index: -2;
	float: left;
}
#stroler {
	
	background: url("../Images/DSC01401.jpg") 0px -80px;
	height: 290px;
	width: 400px;
	background-size: cover;
	z-index: -2;
	float: left;
}
#tricycle{
	background: url("../Images/DSC01411.jpg") 0px -80px;
	background-repeat:no-repeat;
	height: 290px;
	width: 400px;
	background-size: cover;
	z-index: -2;
	float: left;
}
.pic {
	background-repeat:no-repeat;
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline;
	position: relative;
	box-shadow: 0 5px 5px -2px #333;
}
.explanation {
  position: absolute;
  display: inline;
  top: 140px;
  left: 0px;
  height: 150px;
  width: 387px;
  color: #FFFFFF;
  z-index: 1;
  padding-left: 13px;
  padding-top: -3px;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

.resume {
	width: 95%;
	margin-left: 37px;
}
.contact {
	margin-top: 100px;
	margin-bottom: 100px;
	width: 95%;
	margin-left: 37px;
}

.contact li {
	display: inline;
	padding-right: 30px;
}
.anchor {
	margin-bottom: 40px;
	padding-top: 30px;
	display: block;

}
/* {
	outline: 1px solid red;
}
1. how to rescale and position the visible part of an img inside a div?
2. how to update all images sizes atonce?
3. how to make a scope change?
4. where is the flavicon in tamooz?
5.how to crop an image (like tamooz design...)?
6. whats wrong with the gmail link?
7. any design guidlines?
8. how can i publish the site for free?
